.navbar-item img{
    max-height:50px;
}
.navbar {
    max-height:90px;
}
.navbar-brand {
    margin-left: -60px !important;
}
.menu-box {
 border: solid white 1px;
 padding: 10px 0 0 0;
}

.sub-menu-box {
    padding:10px;
    border: solid white 1px;
}

.menu-box-title {
    padding: 10px;
}
.first-sub-menu-box{
    margin-top:10px;
}
.sub-menu-box-timestamp{
    float:right;
}

.bookmark{
    background-color: #082a70;
    padding-left: 1000px;
    margin-left: -1000px;
}
.bookmark-short {
    max-width:130%
}
.icon-box {
    width:60px;
    height:60px;
    border-radius:15px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.comment-box {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
}
.box-author {
    padding:5px 25px 10px 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.box-comment{
    padding:5px 25px 25px 25px;
}
.menu-box-title {
    cursor:pointer;
}
.select{
    border:none;
    border-radius:5px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 2px 0px rgba(66, 68, 90, 1);
    padding: 0 10px;
}
.course-box {
    padding:0;
}
.header{
    height:150px;
}
.sub-header{
    padding:15px;
}
.pagination-link{
    border:none;
    background-color: transparent !important;
    color:#082a70;;
    font-weight: 600;
    font-size:1rem;
}
.pagination-link.is-current{
    color:#fec208 !important;
    text-decoration: underline;
}

@media screen and (max-width: 1410px) {
    .navbar-brand {
        margin-left: -30px !important;
    }
    .bookmark-short {
        max-width:180% !important;
    }
    .bookmark {
        padding-left:500px;
        margin-left:-500px;
    }
    .has-border-x-short{
        border:none;
    }
  }