@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html,
body {
    margin: 0;
}

.is-secondary-color {
    background-color: #eef2fe;
}
.is-third-color {
    background-color: #082a70;
}
.is-forth-color {
    background-color: #fec208;
}
.is-fifth-color {
    background-color: #f9fbfc;
}

.has-text-secondary {
    color: #eef2fe;
}
.has-text-third {
    color: #082a70;
}
.has-text-forth {
    color: #fec208;
}
.has-border-x-short {
    border-right: 2px solid #fec208;
    border-left: 2px solid #fec208;
}

.mt--5{
    margin-top:-1.5rem;
}

.is-super-large {
    height:5rem;
    width:5rem;
}

.complete-bar{
    height:5px;
    width:100%;
    background-color:#d6d6d6;
}

.fill-bar{
    height:5px;
    background-color: #fec208;
}

.fill-bar-10{
    width:10%;
}
.fill-bar-20{
    width:20%;
}
.fill-bar-30{
    width:30%;
}
.fill-bar-40{
    width:40%;
}
.fill-bar-50{
    width:50%;
}
.fill-bar-60{
    width:60%;
}
.fill-bar-70{
    width:70%;
}
.fill-bar-80{
    width:80%;
}
.fill-bar-90{
    width:90%;
}
.fill-bar-100{
    width:100%;
    background-color: #082a70 !important;
}